@import './_variables.scss';

/* Light Theme */
.todo-item-input {
    &-container {
        background-color: $white;
        border-radius: $xs;
        padding: $lg 23px;
        width: 540px;
        height: 64px;
        display: flex;
        align-items: center;
        gap: 25px;
        box-sizing: border-box;
    }

    &-checkbox {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        outline: 1px solid $light-theme-grayish-blue;
        transition: $transition;
        position: relative;

        &:hover {
            cursor: pointer;
            outline: none;
            background-image: $check-background;

            // @Hack: Make the gradient outline
            &::before {
                content: "";
                width: 23px;
                height: 23px;
                border-radius: 50px;
                background-color: $white;
                position: absolute;
                top: 1px;
                left: 1px;
            }
        }

        &.checked {
            outline: none;
            background-image: url('../assets/images/icon-check.svg'),$check-background;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &-input {
        border: none;
        background-color: $white;
        color: $light-theme-deep-dark-grayish-blue;
        padding: 0px;
        flex-grow: 1;
        
        &::placeholder {
            color: $light-theme-dark-grayish-blue;
            opacity: 1;
        }

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}


/* Dark Theme */
.dark {
    .todo-item-input {
        &-container {
            background-color: $dark-theme-desaturated-blue;
        }
    
        &-checkbox {
            outline: 1px solid $dark-theme-deep-dark-grayish-blue;
    
            &:hover {
                // @Hack: Make the gradient outline
                &::before {
                    content: "";
                    background-color: $dark-theme-desaturated-blue;
                }
            }
        }
    
        &-input {
            background-color: $dark-theme-desaturated-blue;
            color: $dark-theme-light-grayish-blue;
            
            &::placeholder {
                color: $dark-theme-dark-grayish-blue;
            }
        }
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .todo-item-input {
        &-container {
            padding: 14px $lg;
            width: 328px;
            height: 48px;
            gap: 12px;
        }

        &-checkbox {
            width: $lg;
            height: $lg;

            &:hover {
                &::before {
                    content: "";
                    width: 18px;
                    height: 18px;
                }
            }
        }

        &-input {
            font-size: 14px;
        }
    }
}